@model IEnumerable<ProiectColectiv.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsFastCharging)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyGain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeeklyGain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyGain)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsFastCharging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyGain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeeklyGain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyGain)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
